:root {
  /* variables */
  --Color-Background-Page: #e7e6e3;

}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  width: 100%;
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: #e7e6e3 !important;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  /* Puedes ajustar este valor según necesites */
}

.scroll_reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.scroll_reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

/* ESTILOS HEADER */


.button-header {
  font-size: 15px;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  background-color: #fff;
  background-color: #252423;
  margin-right: 20px;
  color: #60ad26;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.button-header:hover {
  color: #60ad26;


  border: 1px solid #60ad26;
}

.button-header::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(48, 65, 48);
  transition: top 0.3s;
  z-index: -1;
}

.button-header span:hover {
  border-bottom: 1px solid #60ad26;
}

.button-header:hover::before {
  top: 0;
}


.layout__navbar {
  display: flex;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #000;
  color: white !important;
  align-items: center;
  padding: 5px;
  padding-right: 10px;
  box-shadow: 0px 5px 5px -6px #60ad26;
  z-index: 20;
}

.container__header {
  width: 100%;
  margin-inline: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scrolled {
  background-color: #000;
}

.logo {
  transform-origin: center center;
  padding-right: 10vw;
}

.navbar__header {
  width: 100px;
  height: auto;
}

.navbar_logo-CreaVida {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.title__navbar {
  font-size: 30px;
  color: #295508;
  font-weight: 600;
  font-family: 'Lora', serif;
}

.title__navbar-2 {
  font-size: 30px;
  color: #60ad26;
  font-weight: 600;
  font-family: 'Lora', serif;
}

.menu__ul {
  width: 200px;
}

.menu__li {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  transition: 0.5s ease;
  font-family: 'Overpass', sans-serif;
}

.menu__li:hover {
  color: #60ad26;
  box-shadow: 0 0 20px 0px #60ad26;
  border-radius: 20px;
}

.container-lists__menu-list:hover li a:not(:hover) {
  color: #fff;
  opacity: 1;
  filter: blur(1px);
  box-shadow: none;
}

.container_nav_list {
  display: flex;

  align-items: center;
}

.container-lists__redes-list {
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 9px;
  margin-bottom: 20px;
  top: 110px;
}

.container-lists__redes-list img {
  width: 40px;
  height: 70px;
  padding: 5px;
  filter: drop-shadow(0px 0px 1px #4b4b50);
  animation: flutuar 3s linear infinite;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 3px;
  filter: drop-shadow(0px 0px 1px #4b4b50);
  animation: flutuar 3s linear infinite;
  background-size: cover;
  transition: background-image 0.3s;
}

.icon-instagram {
  background-image: url("../icons/instagram.png");
}

.icon-facebook {
  background-image: url("../icons/facebook.png");
}

.icon-whatsapp {
  background-image: url("../icons/whatsapp.png");
}

.icon-instagram:hover {
  background-image: url("../icons/instagram-color.png");
}

.icon-facebook:hover {
  background-image: url("../icons/facebook-color.png");
}

.icon-whatsapp:hover {
  background-image: url("../icons/whatsapp-color.png");
}

@keyframes flutuar {

  0%,
  100% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(-20px);
  }
}

.container-lists__redes-list div:nth-child(2) {
  animation-delay: 0.2s;
}

.container-lists__redes-list div:nth-child(3) {
  animation-delay: 0.4s;
}

.principal__container {
  background-color: #fff;
  height: 100%;
  width: 100%;
  margin-top: 100px;
  display: flex;
}

.presentation__inicio {
  width: 50%;
  height: auto;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.presentation__logo {
  width: 20vw;
  height: auto;
  overflow: hidden;
}

.presentation__logo img {
  width: 100%;
  height: 100%;
  object-fit: fill;

}

.presentation__description-first {
  font-family: 'Mate', serif;
  font-weight: 300;
  font-size: 2.5vw;
  margin-top: 50px;
}

.container_presentation-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation__description {
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
  color: #60ad26;
}

.presentation-button {
  margin-top: 50px !important;
}

.background__solidaridad {
  width: 50%;
  height: auto;
  /* Puedes quitar esto si deseas que la altura sea fija */
  display: flex;
  align-items: end;
  /* Puedes cambiar esto según tus necesidades */
  justify-content: start;
  position: relative;
}

.background__solidaridad img {
  width: 80%;
  height: auto;
  object-fit: cover;
}

/* ESTILOS DEL CONTENT */

.layout__content {
  min-height: 400px;
  height: 100%;
  background-color: #ffffff;
}

/* ESTILOS DE ARTICLE SOMOS ICFA */
.content__somosicfa {
  display: flex;
  flex-direction: column;
  margin-inline: 5%;
}

.white__card {
  color: #000;
  flex-direction: row-reverse;
}

.somosicfa__tittle {
  margin-bottom: 8%;
}

.somosicfa__tittle h2 {
  display: inline-block;
  padding-top: 2%;
  padding-bottom: 12px;
  font-size: 5vw;
  font-family: 'Lora', serif;
  color: #000000;
  border-bottom: 0.5vw solid #000000;
}

.somosicfa__info {
  display: flex;
  width: 100%;
  height: 600px;
}

.somosicfa__info-text {
  width: 50%;
  height: 100%;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.somosicfa__info-text-p {
  width: 100%;
  font-family: 'Overpass', sans-serif;
  font-size: 5vw;
  text-align: justify;
  line-height: 70px;
  word-spacing: -10px;
  text-justify: inter-word;
}

.somosicfa__info-seeMore {
  height: 60px;
  display: flex;
  align-items: center;
}

.somosicfa__info-seeMore p {
  font-size: 15px;
}

.seeMore a {
  list-style: none;
  list-style-type: none;
  display: flex;
  align-items: center;
  color: #000;
}

.seeMore button {
  border-radius: 50%;
  border: none;
  background-color: #656f77;
  color: #fff;
  margin-left: -4px;
  width: 45px;
  height: 45px;
  transition: all 0.8s;
}

.seeMore button:hover {
  background-color: #60ad26;
  cursor: pointer;
}

.seeMore p {
  margin-left: 10px;
  font-weight: bold;
  font-family: 'Overpass', sans-serif;
  cursor: pointer;
}

.seeMore-p-w {
  color: #fff;
}

/* ESTILO DE SOBRENOSOTTOS */
.container__buttons-inicio {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;

}

.container__buttons-inicio button {
  margin-bottom: 10px;
}

.container__sobreNosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  background-color: #000;
}

.container__nuestro-equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container__nuestro-equipo h2 {
  padding-bottom: 50px;
  font-family: 'Italiana', sans-serif;
  font-weight: lighter;
  font-size: 50px;
  letter-spacing: 5px;
}

.container__lideres {
  width: 100%;
  display: flex;
}

.container__lider {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__lider h3 {
  font-size: 30px;
  padding-top: 20px;
}

.container__lider p {
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  padding-top: 10px;
  font-style: italic;
  color: #60AD26;
}

.container__img-lider {
  width: 20vw;
  height: 20vw;
  background-color: #3498db;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid #60AD26;
}

.container__img-lider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-arrow {
  background-color: #60AD26;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50%;
  margin-top: 80px;
  animation: float 2s linear infinite;
}

.button-arrow::before {
  content: '\2193';
  font-size: 26px;
}

.button-arrow:hover {
  background-color: #295508;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(-30px);
  }
}

.container__ser-parte {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  margin: 20px 5%;
}

.container__ser-parte h2 {
  padding-block: 50px;
  font-size: 50px;
  font-family: 'Italiana', sans-serif;
  font-weight: lighter;
}

.ser-parte__p {
  width: 50%;
  font-style: italic;
  font-size: 15px;
  text-align: center;
  letter-spacing: 3px;
}

.container__values {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.container__specific-value {
  display: flex;
  width: 30%;
  height: auto;
  flex-direction: column;
  align-items: center;
}

.container__img-value {
  width: 100%;
  height: auto;
}

.img-value-love {
  width: 100%;
  height: 200px;
  margin-top: 70px;
  background-image: url('../icons/loveBlackAndWhite.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}

.love:hover .img-value-love {
  margin-top: 0px;
  background-image: url('../icons/love.png');
}

.img-value-honra {
  width: 100%;
  height: 200px;
  margin-top: 70px;
  background-image: url('../icons/cruzBlackAndWhite.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}

.honra:hover .img-value-honra {
  margin-top: 0px;
  background-image: url('../icons/cruz.png');
}

.img-value-samaritano {
  width: 100%;
  height: 200px;
  margin-top: 70px;
  background-image: url('../icons/manBlackAndWhite.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}

.samaritano:hover .img-value-samaritano {
  margin-top: 0px;
  background-image: url('../icons/voluntario.png');
}

.title__value {
  font-size: 3vw;
}

.description__value {
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
}

/* ESTILOS DE EVENTOS */
.nearInicio {
  background-color: #202020 !important;
}

.container__events {
  color: #fff;
  height: auto;
  background-color: #000;
  z-index: 1000px;
  display: flex;
  flex-direction: column;
}

/* .slick-slide>div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}
*/
.slick-prev:before,
.slick-next:before {
  color: #60ad26;
  font-size: 5vw;
}

.slick-dots {
  display: none !important;
}

.slick-dots li {
  width: 60px;
  height: 30px;
}

.slick-dots li button {
  color: #295508;
  font-size: 40px !important;
}

.container__article-near {
  background-color: #202020;
  padding-bottom: 70px;
  height: auto;
  border-bottom: 1px solid #295508;
}

.button {
  cursor: pointer;
  background: #eee;
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
}

.card__near-events {
  background: #0f0f0f;
  border-radius: 8px;
  overflow: hidden;
  height: auto;

  margin-bottom: 10px !important;
  width: 100%;
  margin: 0 auto;
}

.near {
  height: auto;
  background-color: #202020;
}

.card-top {
  width: 100%;
  height: auto
}

.card-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-bottom-near {
  background-color: #000;
  height: 300px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 10px;
  /* Ajusta según sea necesario */
  border-bottom-right-radius: 10px;
}

.card-bottom h2 {
  font-family: 'Lora', sans-serif;
  font-size: 35px;
  margin-top: 20px;
}

.card-bottom p {
  font-family: 'Overpass', sans-serif;
  font-size: 20px;
  margin-top: 10px;
}

.card-bottom-near {
  font-family: 'Overpass', sans-serif;
  font-size: 20px;
  color: #fff;
}

.card-bottom-near p {
  margin-bottom: 10px;
}

.card-bottom h6 {
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  margin-top: 10px;
  font-weight: 100;
  color: #60AD26;
}

.near-event-b {
  margin-top: 20px !important;
}

.events__title {
  align-self: center;
  padding-block: 30px;
  font-family: "Mark Pro", Arial, sans-serif;
  letter-spacing: -0.01em;
  background-color: #202020;
}

.events__title h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Italiana', serif;
  font-weight: lighter;

}

.events__title p {
  letter-spacing: 1px;
  font-size: 1.5vw;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
}

.events__title span {
  font-weight: 700;
  background-image: url(../img/distressed-underline.svg);
  background-repeat: repeat-x;
  background-position: 0 99%;
  background-size: 680px 5px, 0 0;
}

.events__info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.events__info-text {
  width: 50%;
}

.events__info-text-p {
  font-family: 'Overpass', sans-serif;
  font-size: 4vw;
  margin-bottom: 15px;
}

.events__info-seeMore {
  padding-block: 20px;
}

.events__info-seeMore p {
  font-size: 15px;
}

.container__img-events {
  width: 100%;
  height: 500px;
}

.seeMoreb {
  display: flex;
  align-items: center;
}

.events-img {
  width: 90%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(../img/foto.png);
  transition: box-shadow 0.5s, width 0.5s;
}

.events-img:hover {
  width: 100%;
  box-shadow: 20px 20px 12px rgba(0, 0, 0, 0.8);
}

.events {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ESTILOS CARRUSEL DE IMG */

/* Estilos para las imágenes */

.event__near {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  filter: brightness(100%);
  margin-bottom: 10px;
}

.event-1-img {
  background-image: url("../img/foto.png");
}

.event-2-img {
  background-image: url("../img/foto.png");
}

.event-3-img {
  background-image: url("../img/foto.png");
}

.event-img {
  background-size: cover;
  filter: brightness(100%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: filter 0.3s ease;
}

.event-img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.event-img:hover {
  filter: brightness(30%);
}

.event-img:hover::after {
  opacity: 1;
}

.event__near-description {
  margin-top: auto;
  margin-left: 10px;
  margin-right: 40px;
  color: #fff;
}

.event__near-description h2 {
  display: inline-block;
  padding-bottom: 30px;
  font-size: 30px;
  font-family: 'Lora', serif;
}

.event__near-description p {
  font-size: 20px;
  font-family: 'Overpass', sans-serif;
}

.nearSeeMore {
  margin-top: 10px;
}

/* ESTILOS FOOTER */

.footer__container {
  background-color: #000;
  border-top: 1px solid #60ad26;
  border-bottom: 1px solid #60ad26;
  padding: 10px 5%;
  display: flex;
  flex-direction: column;
}

.footer-primary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.primary__info-company {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 25%;
}

.primary__info-company h3 {
  font-size: 19px;
  font-family: serif;
  padding-bottom: 10px;
}

.primary__info-company p {
  color: #9dabce81;
  font-size: 14px;
  text-align: justify;
}

.primary__info-nosotros {
  display: flex;
  flex-direction: column;
  align-content: start;
}

.primary__info-nosotros h3 {
  font-size: 20px;
  font-family: serif;
  padding-bottom: 10px;
}

.primary__info-nosotros li {
  margin-bottom: 10px;
}

.primary__info-nosotros a {
  list-style: none;
  list-style-type: none;
  color: #9dabce81;
  font-size: 15px;
  transition: all 0.7s;
}

.primary__info-nosotros a:hover {
  color: #fff;
  font-size: 15px;
  border-bottom: 1px solid #ffffff;
}

.primary__info-contactanos {
  display: flex;
  flex-direction: column;
  align-content: start;
}

.primary__info-contactanos h3 {
  font-size: 20px;
  font-family: serif;
  padding-bottom: 10px;
}

.primary__info-contactanos li {
  margin-bottom: 10px;
}

.primary__info-contactanos a {
  display: flex;
  list-style: none;
  list-style-type: none;
  color: #9dabce81;
  font-size: 15px;
  transition: all 0.7s;
}

.primary__info-contactanos span:hover {
  color: #fff;
  font-size: 15px;
  border-bottom: 1px solid #ffffff;
}

.icon-footer {
  position: relative;
  top: -2px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.footer-secondary {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 40px;
}

.secondary-copyright {
  width: 25%;
}

.secondary-copyright p {
  color: #9dabce81;
  font-size: 15px;
}

.secondary-logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo-CreaVida {
  width: 50%;
}

.secondary-rrss ul {
  display: flex;
  justify-content: flex-end;
}

.secondary-rrss li {
  margin-right: 20px;
}

.secondary-rrss li:last-child {
  margin-right: 0px !important;
}

.secondary-rrss a {
  list-style: none;
  list-style-type: none;
  color: #9dabce81;
  font-size: 15px;
  transition: all 0.7s;
}

.secondary-rrss a:hover {
  color: #fff;
  font-size: 15px;
  border-bottom: 1px solid #ffffff;
}

/* ESTILOS ACERCA DE NOSOTROS */

.container__acerca {
  margin-top: 100px;
  width: 100%;
  height: auto;
  font-family: 'Lora', serif;
}

.acerca_portada {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: linear-gradient(to top, #838181, #fff);

}

.portada-info {
  width: 70%;
  margin-block: 100px;
  border-radius: 10px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #313131b0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}

.portada-info__container-img {
  width: 25%;
  height: auto;
  border-radius: 5px;
  margin-right: 5%;
}

.portada-info__container-img img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.portada-info-data_pastora {
  margin-block: 5%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Italiana", sans-serif;
  font-size: 1.5vw;
}

.portada-info-data_pastora h2 {
  margin-bottom: 10px;
}

.portada-info-data_pastora p {
  margin-bottom: 10px;
}
.portada-info-buttons{
  display: flex;

}
.button-portada{
  margin: 0 !important;
  margin-right: 10px !important;
  color: #fff !important;
}
#background-video {
  position: relative;
  width: 100%;
  height: 800px;
  display: block;
  object-fit: cover;
  z-index: 10;
}

.acerca-semitransparente {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  height: 800px;
  top: 0;
  width: 100%;
  z-index: 11;
}

.acerca__content {
  position: relative;
  z-index: 12;
}

.acerca__presentation {
  position: absolute;
  height: 500px;
  width: 100%;
  top: -900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s, transform 1s;
}

.acerca__presentation.loaded {
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.acerca__presentation button {
  height: 30px;
  margin-top: 350px;
  padding-inline: 15px;
  padding-block: 5px;
  background-color: #60ad26;
  border-radius: 2px;
  border: none;
  color: #fff;
  letter-spacing: 3px;
}

.acerca__presentation h1 {
  position: relative;
  top: 50px;
  font-size: 10vw;
}

.acerca__descripcion {
  color: #000;
  margin-top: 5%;
  font-size: 20px;
  margin-inline: 5%;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  text-align: justify;
  letter-spacing: -0.01em;
}

.acerca__descripcion span {
  font-weight: 700;
  background-image: url(../img/distressed-underline.svg);
  background-repeat: repeat-x;
  background-position: 0 99%;
  background-size: 680px 5px, 0 0;
}

.acerca__descripcion p {
  margin-bottom: 5%;
  letter-spacing: 1px;
  text-align: center;

}

.acerca__nuestraMotivacion {
  background-color: #d8d7d3;
}

.nuestraMotivacion__container {
  background-image: url(../img/BienvenidaBanner.png);
  background-size: cover;
  background-position: right center;
  height: 100%;
}

.nuestraMotivacion-tittle {

  text-align: center;
  margin-left: -40px;
}

.nuestraMotivacion__container h1 {
  font-size: 6vw;
  color: #2b2a29;
  display: inline-block;
  margin-top: 20px;
  font-family: 'Italiana', serif;
  font-weight: lighter;
}

.nuestraMotivacion-tittle h2 {
  color: #444141;
  display: inline-block;
  width: 60%;
  font-size: 15px;
  text-shadow: 1px 1px 40px rgba(102, 100, 100, 0.726);
  margin-top: 20px;
  font-family: 'Overpass', sans-serif;
}

.nuestraMotivacion-enum {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 50px;

}

.enum {
  display: flex;
  position: relative;
  min-height: 120px;
  letter-spacing: 10px;
  justify-content: center;
  align-items: center;

}

.nuestraMotivacion-enum h3 {
  display: block;
  width: 50%;
  font-size: 3vw;
  z-index: 40;
  font-family: 'Mate', serif;
}

.enum button {
  position: relative;
  height: 50px;
  width: 50px;
  background-color: #60AD26;
  color: #000;
  border: 20px #fff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 40;
}

.enum-transparente {
  height: 100%;
}

.enum {
  background-color: #000;
  border-bottom: 1px solid #fff;
}

.elemento-oculto {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #60ad26, #153a12);
  color: white;
  z-index: 70;
}

.elemento-oculto div {
  width: 100%;
  margin-block: 10px;
}

#elemento-oculto-title {
  font-size: 3vw;
  margin-inline: 5%;
  font-family: 'Mate', serif;
}

#elemento-oculto-description {
  font-size: 15px;
  margin-inline: 5%;
  font-family: 'Overpass', sans-serif;

}

.dontshow {
  display: none;
}

/* ESTILOS SOBRE NOSOTROS LIDERES */
.equipo_aboutUs {
  padding-block: 50px;
  background-color: #000;
}



.acerca__eventosRealizados__container {
  background-color: #252525;
  padding: 5%;
}

.evento-card {
  border-top: 1px solid #60ad26;
  transition: transform 3s ease-in-out;
}

.acerca__eventosRealizados-description h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Italiana', serif;
  font-weight: lighter;
}

.custom-image {
  width: 150px;
  height: auto
}

.acerca__eventosRealizados-description p {
  font-size: 1.5vw;
  text-align: center;
  font-family: 'Overpass', sans-serif;
}

.acerca__eventosRealizados-description button {
  font-size: 15px;
  padding: 15px 20px;
  border: none;
  border-radius: 40px;
  margin: auto;
  display: block;
  margin-block: 40px;
  background-color: #60ad26;
  color: #d4cece;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.acerca__eventosRealizados-description button::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: top 0.3s;
  z-index: -1;
}

.acerca__eventosRealizados-description button:hover {
  color: #60ad26;
}

.acerca__eventosRealizados-description button:hover::before {
  top: 0;
}

.event_realized {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  background-size: cover;
  width: 20%;
  height: auto;
  flex: none;
  margin: 20px 0;
}

.data {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lora', serif;
}

.data h2 {
  font-size: 25px;
  font-family: 'Italiana', sans-serif;
}

.data h3 {
  font-size: 25px;
  padding-inline: 90px;
  color: #4b4b50;
}

.acercade_description {
  width: 50%;
  font-size: 15px;
  font-family: 'Overpass', sans-serif;
}

.border {
  background-image: url(../img/distressed-underline-green-transparente.png);
  height: 20px;
  background-repeat: repeat-x;
  background-position: 0 99%;
  background-size: 680px 1px, 0 0;
  z-index: 80;
}

.space {
  padding-bottom: 10px;
}

/* 
  ESTILOS ACERCA AYUDANOS */
.acerca__ayudanos {
  margin-bottom: 50px;

}

.acerca__ayudanos h1 {
  color: #2b2a29;
  text-align: center;
  padding: 40px;
  font-size: 40px;
  font-weight: 900;
  font-family: 'Lora', serif;
}

.acerca__ayudanos button {
  font-size: 15px;
  padding: 15px 20px;
  border: none;
  border-radius: 40px;
  margin: 0 auto;
  display: block;
  background-color: #60ad26;
  color: #d4cece;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.acerca__ayudanos button::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #252423;
  transition: top 0.3s;
  z-index: -1;
}

.acerca__ayudanos button span:hover {
  color: #60ad26;
  border-bottom: 1px solid #60ad26;
}

.acerca__ayudanos button:hover::before {
  top: 0;
}

/* MENU-EVENTOS */
.container-events {
  width: 100%;
  margin-top: 100px;
  color: #000;
  background-color: #fff;
}

.background__events {
  width: 100%;
  height: auto;
  position: relative;
}

.image-background-events {
  width: 100%;
  height: 100%;
}

.events-semitransparente {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  z-index: 11;
}

.events__content {
  position: relative;
  z-index: 12;
}
.events__presentation {
  position: absolute;
  width: 80%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 12;
  top: 0;
}

.events__presentation button {
  height: 3vh;
  padding-inline: 15px;
  padding-block: 5px;
  background-color: #60ad26;
  border-radius: 2px;
  border: none;
  color: #fff;
  letter-spacing: 3px;
}

.events__presentation h1 {
  position: relative;
  margin-top: 10px;
  text-align: center;
  font-size: 5vw;
  color: #fff;
  font-family: 'Italiana', serif;
} 

.events__description {
  color: #fff;
  border-top: 1px solid #60AD26;
  padding-block: 30px;
  padding-inline: 5%;
  font-family: "Mark Pro", Arial, sans-serif;
  letter-spacing: -0.01em;
}

.events__description h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Italiana', serif;
  font-weight: lighter;
}

.events__description span {
  font-weight: 700;
  background-image: url(../img/distressed-underline.svg);
  background-repeat: repeat-x;
  background-position: 0 99%;
  background-size: 680px 5px, 0 0;
}

.events__description p {
  letter-spacing: 1px;
  font-size: 1.5vw;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
}

/* EVENTOS REALIZADOS-MENU EVENTOS */

.events__realized-tittle {
  text-align: center;
}

.events__realized-tittle h2 {
  font-size: 50px;
  margin-top: 30px;
  padding-bottom: 30px;
  font-family: 'Italiana', serif;
  font-weight: lighter;
}

.events__realized-tittle p {
  font-size: 1.5vw;
  color: #ffffff;
  width: 70%;
  margin: auto;
  padding-bottom: 50px;
  font-family: 'Overpass', sans-serif;
}

.events__realized__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.info__events-seeMore {
  background-color: #252423;
  padding: 5px 20px;
  border: none;
  color: #fff;
}

.info__events-seeMore:hover {
  cursor: pointer;
}

/* EVENTOS CERCANOS-MENU EVENTOS */


.container__near_events {
  margin-bottom: 30px;
  width: 95%;
}

.container-event-near {
  height: auto;
  background-color: #202020 !important;
}

.containerSlider {
  width: 90%;
  margin: 0 auto;
  height: auto;
}

.slick-list {
  max-width: 90% !important;
  margin: 0 auto !important;
  height: auto;
}

.container__event {
  height: 500px;
}

.event {
  height: 50%;
  background-size: cover;
  background-position: center;
  margin: 30px;
}

.event-inicio {
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: end;
}

.event-1 {
  background-image: url(../img/event1.jpg);
}

.event-2 {
  background-image: url(../img/event2.jpg);
}

.event-3 {
  background-image: url(../img/event3.jpg);
}

.event-4 {
  background-image: url(../img/event4.jpg);
}

.event:hover {
  height: 100%;
}

.cuadrado-pintura {
  /* position: relative;
  bottom: -250px;
  left: 30px;
  background-size: contain;
  width: 80%;
  height: 40%; */
  width: 600px;
  /* O el tamaño que desees */
  height: 200px;
  /* O el tamaño que desees */
  background-image: url(../img/cuadradoPintura.png);
  margin-bottom: 20px;
}

.info__events {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.info__events h3 {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  padding: 10px 0;
  font-family: 'Lora', serif;
}

.info__events h5 {
  color: #252423;
  font-size: 15px;
  text-align: center;
}

.button-event {
  display: flex;
}

.button-event button {
  margin-right: 5px;
}

.button-donar {
  font-size: 15px;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  background-color: #60ad26;
  color: #fff;
  border: 1px solid #60ad26;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.button-donar:hover {
  color: #60ad26;
}

.button-donar::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  transition: top 0.3s;
  z-index: -1;
}

.button-donar span:hover {
  border-bottom: 1px solid #60ad26;
}

.button-donar:hover::before {
  top: 0;
}

.button-participar {
  font-size: 15px;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  background-color: #fff;
  color: #000;
  border: 1px solid #60ad26;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.part {
  color: #60ad26;

  background-color: #252423;
}

.button-participar:hover {
  color: #60ad26;
}

.button-participar::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #252423;

  transition: top 0.3s;
  z-index: -1;
}

.button-participar span:hover {
  border-bottom: 1px solid #60ad26;
}

.button-participar:hover::before {
  top: 0;
}

.titleEventCarrousel {
  font-size: 40px !important;
}

.time {
  display: flex;
}

.date {
  color: #60AD26 !important;
}

.icon-time {
  width: 20px;
  height: 20px;
  background-image: url("../icons/clock.png");
  background-size: cover;
}


/* ESTILOS QUESTIONS */

.container__questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-inline: 10px;
}

.questions-title {
  font-size: 35px;
  text-align: center;
  color: #2b2a29;
  margin-bottom: 50px;
  margin-top: 30px;
  font-family: 'Italiana', serif;
  font-weight: lighter;
}


.container__acordions-questions {
  padding-bottom: 50px;

}

/* ESTILOS DEL MENU PARTICIPA */

.container__participate {
  width: 100%;
  margin-top: 100px;
  color: #000;
  background-color: #fff;
}

.image__background-participate {
  width: 100%;
  height: 100%;
}

.participate__content {
  position: relative;
  z-index: 12;
}

.participate__presentation {
  position: absolute;
  height: 500px;
  width: 100%;
  top: -900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s, transform 1s;
}

.participate__presentation.loaded {
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.participate__presentation button {
  height: 30px;
  margin-top: 350px;
  padding-inline: 15px;
  padding-block: 5px;
  background-color: #60ad26;
  border-radius: 2px;
  border: none;
  color: #fff;
  letter-spacing: 3px;
}

.participate__presentation h1 {
  position: relative;
  top: 50px;
  text-align: center;
  font-size: 10vw;
  color: #fff;
  font-family: 'Lora', serif;
}

.title-near-event-participation {
  text-align: center;
  background-color: #fff;
  color: #000;
  font-size: 4vw;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  padding: 30px 0;
  font-family: "Mark Pro", Arial, sans-serif;
  letter-spacing: -0.01em;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 200;
  display: flex;
}

.modal__content {
  background-color: #fff;
  width: 70%;
  height: 550px;
  margin: auto;
}

.modal__close {
  font-size: 40px;
  color: #000000;
  cursor: pointer;
  padding: 10px;
}

.modal__close:hover {
  color: #60ad26;
}

.participation-box {
  position: absolute;
  top: 52%;
  left: 50%;
  width: 400px;
  padding: 20px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
}

.participation-box h6 {
  margin: 0 0 20px 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  font-family: 'Lora', serif;
  text-align: center;
}

.container__form-participate {
  display: flex;
  flex-direction: column;
  align-items: center;
}




.button-submit {
  padding: 10px 20px;
  color: #000;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  border: 2px solid #60ad26;
  margin-right: 10px;
}

.button-submit:hover {
  background-color: #60ad26;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 1px #60ad26, 0 0 1px #60ad26, 0 0 0px #60ad26,
    0 0 100px #60ad26;
}

.buttons-form {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.button-close {
  padding: 10px 20px;
  background-color: #555454;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  border: 1px solid #60ad26;
  color: #7b9469;
  cursor: pointer;
}

.donate-h6 {
  margin-bottom: 3px !important;
}

.method_donation {
  text-align: center;
  margin-bottom: 20px;
}

.options-donate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.options-donate button {
  padding: 10px;
  width: 35%;
  margin-bottom: 20px;
  border: none;
}

.button-donate {
  font-size: 15px;
  padding: 15px 20px;
  border: none;
  border-radius: 40px;
  display: block;
  background-color: #60ad26;
  color: #d4cece;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.button-donate:hover {
  color: #60ad26;
  border: 1px solid #60ad26;
}

.button-donate::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: top 0.3s;
  z-index: -1;
}

.button-donate:hover::before {
  top: 0;
}

/* ESTILOS DE EVENTO ESPECIFICO */
.container__specific-event {
  background-color: #fff;
}

.background-black {
  background-color: #000;
}

.event-description-time{
  font-family:sans-serif;
}

.container-description {
  position: relative;
  top: 222px;
  background-color: transparent;
  border: 1px solid #656f77;
  color: #000;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  margin-bottom: 100px;
}

.container-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-event {
  width: 100%;
}

.container-description h2 {
  font-family: 'Lora', serif;
  font-size: 50px;
}

.frase-motivadora {
  font-size: 15px;
  font-family: 'Mate', serif;
  font-weight: 600;
}

.specific-description {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 40px;
  border-top: 1px solid #656f77;
  letter-spacing: 1px;
  font-size: 14px;
}

.first-description {
  width: 25%;
  font-size: 1.9vw;
  padding-inline: 1%;
  padding-block: 2%;
  border-right: 1px solid #656f77;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
}
.timeE{
  
  border-right: 0px solid #656f77 !important;
}

.second-description {
  width: 50%;
  font-size: 1.9vw;
  padding-block: 2%;
  padding-inline: 1%;
  border-right: 1px solid #656f77;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
}

.last-description {
  width: 25%;
  padding-inline: 1%;
  padding-block: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-donar {
  padding-block: 10px;
  font-size: 1.9vw;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-inline: 3%;

}

.background-white {
  background-color: #fff;
  height: 120px;
}

.background-white-secondpart {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 100px;
  color: #000;
  padding-top: 25px;
}

.background-white-secondpart p {
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  font-size: 2.5vw;
  width: 50%;
  text-align: center;
}

.background-white-secondpart-date {
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.date-info {
  font-weight: bold;
  /* Texto de fecha en negrita */
  font-size: 18px;
  /* Ajusta el tamaño de la fecha según sea necesario */
  margin-bottom: 5px;
  /* Agrega un pequeño espacio después de la fecha */
}

/* Opcional: Estilo de transición al pasar el ratón */
.background-white-secondpart-date:hover {
  background-color: #f5f5f5;
  transition: background-color 0.3s ease;
}

.buttons-event {
  display: flex;
  margin-top: 40px;
}

.donar-description {
  margin-right: 20px;
  font-size: 15px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.participar-description {
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* SPINNER */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #60AD26;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin-loading 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ESTILOS BASE UI */

.btn {
  background-color: #60AD26;

  color: #fff;

}

/* ESTILOS SER MIEMBRO */
/* .container__participate{
  background-color: #acdb88;
}
.container__forms{
  width: 70%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.container__form-participate{
  display: flex;
  flex-direction: row;
}
.form-participate{
  width:40%;
}

.container__form-member{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form-member{
  width: 40%;
} */

.container__forms-options {
  width: 90%;
  margin: 0 auto;
  padding-block: 50px;
}

.p__form-participate {
  font-size: 15px;
}

.p__form-socio {
  font-size: 15px;
}

.form-participate {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.form-participate h2 {
  font-size: 20px;
  font-family: 'Overpass';
  margin: 0 auto;

  margin-bottom: 20px;
}

.button-inscription {

  margin: 0 auto;
}

.webpay{
  color: #000;
}
.container__payment{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__payment h1{
  font-family: 'Italiana', sans-serif;
  font-size: 2vw;

}
.confirmation-webpay{
  margin-top: 100px;
  font-size: 50px;
}
.buttonWebpay:hover{
  background-color:#202020 ;
}
.container-agradecimiento{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-img-agradecimiento{
  margin-top: 20px;
  width: 150px;
  height: auto;
}

.container-agradecimiento h1 {
font-family: 'Italiana', sans-serif;
color: #252423;
font-size: 5vw;
margin-bottom: 20px;
}
.container-img-agradecimiento img{
  width: 100%;
  height: auto;
}
.container-agradecimiento-h1-failed{
  font-size: 2.5vw !important;
}
.container__payment h1{
  font-size: 20px ;
}